[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
psycopg2-binary = "*"

[packages]
apscheduler = "*"
arrow = "*"
backports-functools-lru-cache = "*"
python-dotenv = "*"
records = "*"
