[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
apscheduler = "*"
pg8000 = "*"
nerium = {git = "https://github.com/tym-xqo/nerium",ref = "7686b0a"}

[requires]
python_version = "3.7"
