[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
apscheduler = "*"
dba-metrics = {editable = true,path = "."}
nerium = {editable = true,git = "https://github.com/tym-xqo/nerium",ref = "b4d99a3"}
# nerium = {editable = true, path = "../nerium"}
pg8000 = "*"
slackclient = "*"
